- if current_user.role == "admin" || current_user.role == "paid"
  = form_tag(collaborators_path, method: :create) do
    = hidden_field_tag :wiki_id, wiki.id

    .form-group
      = fields_for :user do |u|
        = u.text_field :email, placeholder: 'Enter Email', id: 'user-email', class: 'form-control'
    .form-group
      = submit_tag "Add Collaborator", class: 'btn btn-success'
- else
  %span8.text-center
    Upgrade to add collaborators