%h1 Edit Wiki
= form_for @wiki do |f|
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control', placeholder: "Enter Wiki title"
  .form-group
    = f.label :body
    = f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter Wiki body"
  - if policy(Wiki.new).create?
  .form-group
    = f.label :Private
    = f.check_box :private, private: true, method: :update
  .form-group
    = f.submit "Save", class: 'btn btn-success'