%h1 Edit Wiki
= form_for @wiki do |f|
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control', placeholder: "Enter wiki title"
  .form-group
    = f.label :body
    = f.hidden_field :body, id: "body"
    #epiceditor
      %textarea#my-edit-area

  - if policy(Wiki.new).create?
    .form-group
      = f.label :Private
      = f.check_box :private, private: true, method: :update
    

  .form-group
    = f.label :Collaborators
    = @wiki.users.name     

  .form-group
    = f.submit "Save", class: 'btn btn-success'

%h2
  Adding More collaborators
= render partial: 'collaborators/collaborator', locals: { wiki: @wiki }

:javascript
  var editor = new EpicEditor().load();
  editor.getElement('editor').body.innerHTML = '#{escape_javascript(@wiki.body)}';
  function prep() {
    $("#body")[0].value = (editor.getElement('editor').body.innerHTML);
  }